.footer {
    background-color: #A96556;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #E09471;  
}
@media (max-width: 767px) {
    .footer-links {
        text-align: center;  /* Centre les liens sur les petits écrans */
    }
}
@media (min-width: 768px ) {
    .footer-links {
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
    }
}
