body {
  background-image: url('/public/image/fond.webp');
  background-size: cover;
}


ul {
  list-style: none;
  font-family: Poppins;
}
.main {
  min-height: 200vh;
  padding: 6rem 1rem 1rem ;
  margin-bottom: 1rem;
}
.carrousel-container {
  margin-top: 500px; 
  width: 100%;
  text-align: center; 
}
.custom-hr {
  border: 0; 
  height: 3px; 
  background-color: #000; 
  margin: 100px ; 
}